<ion-view view-title="MOVIES!">
  <ion-content>
    
    <!--
      We want to repeat this item for each movie in our list. To do this, we
      use the ng-repeat Angular directive. We might also want to do something
      like order the movies by release year... we can use the Angular orderBy
      filter to do that!
    -->
    <div ng-repeat="movie in vm.movies | orderBy : 'year'" class="list card">
      
      <div class="item">
        
        <h2 style="float: left;">{{movie.title}}</h2>
        
        <!--
          We can use that function pointer in our controller and the ng-if
          directive to add a dope star icon by the highest-rated movie.
        -->
        <i ng-if="movie == vm.getBestMovie()" class="icon ion-star" style="float: right;"></i>
        
      </div>
      
      <div class="item item-body">
        
        <!--
          We can use some of Ionic's other built-in classes to make stuff look
          pretty. In this section, I used some of the grid features to align
          everything nicely.
        -->
        
        <div class="row">
          <strong class="col col-33">Director:</strong>
          <span class="col">{{movie.director}}</span>
        </div>
        
        <div class="row">
          <strong class="col col-33">Rating:</strong>
          <span class="col">{{movie.rating}}</span>
        </div>
        
        <div class="row">
          <strong class="col col-33">Year:</strong>
          <span class="col">{{movie.year}}</span>
        </div>
        
      </div>
      
    </div>
    
  </ion-content>
</ion-view>
